app/ua.divas.app/NomGroupSDO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="/ua/divas/service/vo/common/" xmlns:sdoJava="commonj.sdo/java" sdoJava:package="ua.divas.service.vo.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="/ua/divas/service/vo/common/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <name>Nom Group</name>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
  <xsd:complexType name="NomGroupSDO">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Fullname" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Deleted" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="IsGroup" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ParentId" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Usluga" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Predefined" nillable="true" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Version" nillable="true" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="Artikul" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="nomGroupSDO" type="NomGroupSDO"/>
</xsd:schema>