app/ua.divas.app/PkoViewSDO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="/ua/divas/service/vo/common/" xmlns:sdoJava="commonj.sdo/java" sdoJava:package="ua.divas.service.vo.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" xmlns="/ua/divas/service/vo/common/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
  <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
  <xsd:complexType name="PkoViewSDO">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>Id</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Dat" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="Num" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Deleted" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
      <xsd:element minOccurs="0" name="Posted" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
      <xsd:element minOccurs="0" name="DivisionId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UserId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Version" type="ns0:dateTime-Timestamp"/>
      <xsd:element minOccurs="0" name="CurrId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="KassaId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ActivitiesId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OperationId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Summa" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="KontragId" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="OrderId" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="pkoViewSDO" type="PkoViewSDO"/>
</xsd:schema>